<p-table [value]="clients" stripedRows [tableStyle]="{'min-width': '50rem'}">
    <ng-template #header>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>DNI</th>
            <th>Detalles</th>
        </tr>
    </ng-template>
    <ng-template #body let-client>
        <tr>
            <td>{{client.id}}</td>
            <td>{{client.nombre}}</td>
            <td>{{client.dni}}</td>
            <td>
                <p-button 
                    icon="pi pi-info" 
                    severity="info" 
                    [rounded]="false"
                    (onClick)="showDetails(client)">
                </p-button>
                <p-button 
                    icon="pi pi-user-edit"
                    severity="success" 
                    [rounded]="false"
                    (onClick)="editUser(client)">
                </p-button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="displayDialog" 
          [modal]="true" 
          [style]="{width: '400px'}" 
          header="Detalle del Cliente">
  <app-client-detail *ngIf="selectedClient" [client]="selectedClient"></app-client-detail>
</p-dialog>

<p-dialog [(visible)]="editDialog" [modal]="true" [style]="{width: '400px'}" header="Editar Cliente">
  <app-client-edit 
    *ngIf="editingClient"
    [client]="editingClient"
    (save)="onSaveClient($event)">
  </app-client-edit>
</p-dialog>
