<div class="grid grid-cols-1 md:grid-cols-2 gap-4" style="min-height: 350px;">
  <div class="bg-white p-3 rounded shadow-sm">
    <h4 class="text-center font-medium mb-2">Consumo mensual</h4>
    <div style="height:300px; position:relative;">
      <canvas #chartCanvas></canvas>
    </div>
  </div>

  <div class="bg-white p-3 rounded shadow-sm">
    <h4 class="text-center font-medium mb-2">Resumen anual</h4>
    <div style="height:300px; position:relative;">
      <canvas #barChartCanvas></canvas>
    </div>
  </div>
</div>